#sidebar {
  background: #8370de; // fundo roxo
  border-right: 1px solid #5271ff;

  .site-title {
    color: #f2f2f2;
  }
  a.nav-link {
    &:hover {
      background-color: rgba(212, 212, 212, 0.2);
      color: #a3e3e3;
    }
    &.active {
      background-color: rgba(100, 114, 255, 0.3);
      color: #5271ff;
    }
  }

  .sidebar-bottom a {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2f2f2;
    &:hover {
      background-color: rgba(212, 212, 212, 0.2);
      color: #62ea00;
    }
  }
}